body {
	background-color: white;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: medium;
	margin: 0px;
	line-height: 1.4em;
}

header {
	background-color: #00237D;
	height: 75px;
	text-align: center;
	color: white;
	vertical-align: middle;
}

header h1 {
	padding-top: 24px;
	padding-right: 120px;
}

#flag {
	float: left;
	padding: 15px 0px 0px 30px;
}

#royal {
	float: right;
	padding: 15px 30px 0px 0px;
}

nav {
	background-color: #CBDCEB;
	font-size: 120%;
	margin: -19px 0px 0px 0px;
}

nav ul {
	list-style-type: none;
	padding: 5px 0px 5px 10px;
}

nav ul li {
	display: inline;
	padding: 5px 17px;
}

nav ul li a:link, nav ul li a:visited {
	color: black;
	border-bottom: none;
	text-decoration: none;
}

li.selected {
	background-color: white;
	font-weight: bold;
}

#england {
	float: left;
	padding-right: 15px;
}

#edward {
	float: right;
	padding-left: 15px;
}

section {
	margin: 40px 30px 0px 30px;;
}

#tableContainer {
	display: table;
	background-color: #CBDCEB;
	margin-top: 45px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#tableRow {
	display: table-row;
}

#square1 {
	display: table-cell;
	padding: 50px 90px 30px 30px;
	width: 328px;
	text-align: center;
}

#square2 {
	display: table-cell;
	width: 328px;
	text-align: center;
}

#square3 {
	display: table-cell;
	padding: 0px 30px 30px 90px;
	width: 328px;
	text-align: center;
}

#table {
	background-color: #CBDCEB;
}

#hrtop {
	border: 1px solid #666;
	display: block;
	width: 50%;
}

#hrbottom {
	border: 1px solid #666;
	display: block;
	width: 80%;
}

#inknow {
	text-align: center;
	margin: 0px 150px;
	padding: 10px 0px;
}

footer {
	background-color: #ECE7E7;
	height: 76px;
	text-align: center;
	font-size: 70%;
	margin: 40px 0px 0px 0px;
}

span {
	display: inline-block;
	line-height: 18px;
	padding: 19px;
}